<div class="description">
  <form [formGroup]="formGroup" *ngIf="formGroup">
    <div class="chatbot-subtitle">
      <h4>À quelle problématique répond votre chatbot ?</h4>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>200 caractères maximum</mat-label>
      <textarea matInput
                formControlName="problematic"
                [placeholder]="'Saisir ...'"
                data-cy="ProblemInput"
                maxlength="200"
                required></textarea>
      <mat-error *ngIf="controls.problematic.invalid">
        {{getErrorMessage('problematic')}}
      </mat-error>
    </mat-form-field>

    <div class="chatbot-subtitle">
      <h4>À qui s'adresse votre chatbot ?</h4>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>200 caractères maximum</mat-label>
      <textarea matInput
                formControlName="audience"
                [placeholder]="'Saisir ...'"
                data-cy="AudienceInput"
                maxlength="200"
                required>
             </textarea>
      <mat-error *ngIf="controls.audience.invalid">
        {{getErrorMessage('audience')}}
      </mat-error>
    </mat-form-field>

    <div class="chatbot-subtitle">
      <h4>Quelle solution propose votre chatbot ?</h4>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>200 caractères maximum</mat-label>
      <textarea matInput
                formControlName="solution"
                [placeholder]="'Saisir ...'"
                data-cy="SolutionInput"
                maxlength="200"
                required></textarea>
      <mat-error *ngIf="controls.solution.invalid">
        {{getErrorMessage('solution')}}
      </mat-error>
    </mat-form-field>
  </form>
</div>
