<div class="home">
  <div class="section section-menu">
    <div class="logos">
      <img src="assets/img/logo_ministere_armees.png" alt="logo ministère des armées">
      <img src="assets/img/logo_fabrique_chatbot.svg" alt="logo usine à chatbots">
    </div>
    <div class="actions" *ngIf="!isSmallScreen">
      <a href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/" target="_blank" rel="noopener">
        <button mat-button
                color="primary">
          Voir la documentation
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </a>
    </div>
  </div>
  <div class="section section-header">
    <div>
      <div class="image" *ngIf="isSmallScreen">
        <img src="assets/img/ANIM.gif" alt="Image d'un smartphone avec un chatbot">
      </div>
      <h1>Créer facilement votre chatbot</h1>
      <p>Outiller la diffusion d’informations à destination des agents du Ministère.</p>
      <div class="actions">
        <button mat-flat-button
                color="primary"
                class="large"
                [routerLink]="'/create'">
          Créer votre chatbot
        </button>
        <a href="mailto:fabrique-chatbots@beta.gouv.fr" target="_blank" rel="noopener">
          <button mat-stroked-button
                  class="large"
                  color="primary">
            Contactez-nous
          </button>
        </a>
        <a *ngIf="isSmallScreen"
           href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/"
           target="_blank"
           rel="noopener">
          <button mat-button
                  color="primary">
            Voir la documentation
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </a>
      </div>
    </div>
    <div class="image" *ngIf="!isSmallScreen">
      <img src="assets/img/ANIM.gif" alt="Image d'un smartphone avec un chatbot">
    </div>
  </div>
  <div class="section section-how">
    <h2>Générez votre bot en 4 étapes</h2>
    <div>
      <mat-horizontal-stepper (selectionChange)="idxImage = $event.selectedIndex">
        <mat-step>
          <div>
            <img [src]="'assets/img/ETAPE_1.png'" alt="Aperçu Backoffice Chatbot"/>
          </div>
          <div>
            <h3>La base de connaissance</h3>
            <p>
              Avoir une base documentaire (format excel) sous la forme du template fourni à télécharger et à remplir
              avec : un texte d'introduction du chatbot des questions formulées en synonyme les réponses à ces
              questions.
            </p>
            <p>
              Avoir une base de question/réponses assez importante avec un scope d'intervention défini. Ex: une
              centaine de connaissances initiales.
            </p>
            <br/>
            <a href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/" target="_blank" rel="noopener">
              <button mat-flat-button
                      color="primary">
                Voir la documentation
              </button>
            </a>
          </div>
        </mat-step>
        <mat-step>
          <div>
            <img [src]="'assets/img/ETAPE_2.png'" alt="Aperçu Backoffice Chatbot"/>
          </div>
          <div>
            <h3>Cadre d'usage de votre bot</h3>
            <p>
              Intradef ou Internet ? Y aura-t-il des contenus à diffusion restreinte ou non ? Quel sujet sera couvert
              ?
            </p>
            <p>
              Réfléchir au point d'entrée vers le bot : est-ce que vous allez rediriger le public vers une page à part
              ? est-ce que votre bot vivra sur un site / portail existant ?
            </p>
            <br/>
            <a href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/" target="_blank" rel="noopener">
              <button mat-flat-button
                      color="primary">
                Voir la documentation
              </button>
            </a>
          </div>
        </mat-step>
        <mat-step>
          <div>
            <img [src]="'assets/img/ETAPE_3.png'" alt="Aperçu Backoffice Chatbot"/>
          </div>
          <div>
            <h3>L'apparence de votre bot</h3>
            <p>
              Définir l'identité du chatbot : quel personnage ? Quel grade,
              fonction, rôle ? Quelles couleurs ? Quelle représentation ?
              (une bibliothèque d'icônes par défaut vous sera mise à disposition
              lors de la création du chatbot)
            </p>
            <br/>
            <a href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/" target="_blank" rel="noopener">
              <button mat-flat-button
                      color="primary">
                Voir la documentation
              </button>
            </a>
          </div>
        </mat-step>
        <mat-step>
          <div>
            <img [src]="'assets/img/ETAPE_4.png'" alt="Aperçu Backoffice Chatbot"/>
          </div>
          <div>
            <h3>L'interface de gestion</h3>
            <p>
              Gestion centralisée ou décentralisée du bot ? Identifiez vos contacts clés ! Une fois votre bot en
              ligne, le travail n'est pas terminé ! Un chatbot doit vivre et continuer à apprendre et à s'enrichir de
              connaissances pour satisfaire au mieux les utilisateurs. Vous allez recevoir de nouvelles questions tous
              les jours, et il faudra les ajouter à votre bot via l’interface de gestion.
              Allez-vous désigner un seul bot manager qui sera chargé des contacter des spécialistes sur d'autres
              sujets ? Ou préférez-vous donner les accès de la gestion à une équipe prédéfinie ?
            </p>
            <br/>
            <a href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/" target="_blank" rel="noopener">
              <button mat-flat-button
                      color="primary">
                Voir la documentation
              </button>
            </a>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="section section-factory">
    <h2>L'usine à chatbots</h2>
    <div class="cards-wrapper">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <img src="assets/img/picto1.svg" alt="logo clef en main">
          </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <h4>Une solution clef en main et gratuite</h4>
          <p>
            Vous vous occupez du contenu, on s’occupe de la technique et de tout ce qui fait fonctionner votre bot :
            hébergement DIRISI, nom de domaine, réseau internet, mises à jour du produit etc. Intradef arrive !
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <img src="assets/img/picto2.svg" alt="logo horloge">
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <h4>Une procédure pour l'homologation raccourcie</h4>
          <p>
            Notre premier bot RH marine généré avec l’Usine à chatbots est déjà homologué, vous n’aurez plus qu’une
            procédure simplifiée d’homologation car il s’agit techniquement d’un clone.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <img src="assets/img/picto3.svg" alt="logo graphe">
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <h4>Un produit en constante amélioration</h4>
          <p>
            Vous avez des besoins d’évolution pour le produit ? Nous sommes à votre écoute pour mettre en place ensemble
            les fonctionnalités qui vont être utiles à tous demain.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="section section-testimony">
    <h2>Ils en parlent mieux que nous</h2>
    <div class="testimony-section">
      <div class="testimony-img">
        <img src="assets/img/marine_nationale.svg" alt="logo marine">
      </div>
      <mat-divider [vertical]="!isSmallScreen"></mat-divider>
      <div class="testimony-text">
        <img src="assets/img/quote-line.svg" alt="logo apostrophe" class="testimony-badge">
        <p>
          Grâce à un dialogue permanent avec les équipes de la Fabrique Numérique, nous avons pu construire le chatbot
          qui
          convenait parfaitement à notre besoin : des réponses aux questions générales, disponibles sur smartphone pour
          pouvoir ainsi toucher tous les marins, à toutes heures ! Aujourd’hui, chaque entité du ministère peut décider
          de
          lancer rapidement son propre chatbot personnalisé. Il lui suffit de prendre contact avec la FabNum.
        </p>
        <span>Bruno Frenais De Coutard</span>
      </div>
    </div>
  </div>
  <div class="section section-contact">
    <div>
      Vous avez un projet ?
    </div>
    <div class="actions">
      <button mat-flat-button
              color="primary"
              [routerLink]="'/create'">
        Créer votre chatbot
      </button>
      <a href="mailto:fabrique-chatbots@beta.gouv.fr"
         target="_blank"
         rel="noopener">
        <button mat-stroked-button
                color="primary">
          Contactez-nous
        </button>
      </a>
    </div>
  </div>
  <mat-divider class="full-width mat-primary"></mat-divider>
  <div class="section section-who">
    <div class="description">
      <div>
        <img src="assets/img/logo_republique_francaise.svg" alt="logo république française">
        <a target="_blank"
           href="https://beta.gouv.fr/startups/?incubateur=fabnumdef"
           rel="noopener">
          <img src="assets/img/logo_fabrique_numerique.svg" alt="logo fabrique numérique">
        </a>
        <a target="_blank"
           href="https://beta.gouv.fr"
           rel="noopener">
          <img src="assets/img/logo_betagouvfr.svg" alt="logo beta gouv fr">
        </a>
      </div>
      <div>
        <p>La Fabrique numérique est l’incubateur de services numériques du ministère des Armées. Nous permettons à des
          agents ayant identifié un problème dans leur activité, de créer un nouveau service répondant au besoin des
          usagers.
          <br/>
          <a target="_blank"
             href="https://beta.gouv.fr/startups/?incubateur=fabnumdef"
             rel="noopener">
            https://beta.gouv.fr/startups/?incubateur=fabnumdef
          </a>
        </p>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="footer">
    <div class="links">
      <a href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/mentions-legales"
         target="_blank"
         rel="noopener">
        Mentions légales
      </a>
      <mat-divider vertical></mat-divider>
      <a target="_blank"
         href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/cgu"
         rel="noopener">
        Conditions générales d'utilisation
      </a>
      <mat-divider vertical></mat-divider>
      <a target="_blank"
         href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/politique-de-confidentialite"
         rel="noopener">
        Suivi d'audience et vie privée
      </a>
      <mat-divider vertical></mat-divider>
      <a target="_blank"
         rel="noopener"
         href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/accessibilite-du-site">
        Accessibilité : non-conforme
      </a>
    </div>
  </div>
</div>
