@import 'src/styles/variables';

.home {
  background-color: #fdfdfd;
  color: $font-black;
  font-family: Marianne;

  .mat-card {
    background-color: #f9f8f6;
    box-shadow: none;
    border-radius: 0;
    padding: 30px;

    ::ng-deep.mat-card-header {
      justify-content: center;

      &-text {
        margin: 0;
      }
    }

    .mat-card-content p {
      font-size: 14px;
    }
  }

  .mat-button-base:not(.large) {
    font-size: 16px;
  }

  .section {
    padding: 60px 10%;

    h1 {
      font-size: 48px;
      line-height: 55px;
    }

    h2 {
      margin-top: 0;
      font-size: 32px;
      line-height: 56px;
      margin-bottom: 36px;
      text-align: center;
    }

    h3 {
      font-size: 22px;
      line-height: 28px;
      color: $font-black;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    h4 {
      font-size: 20px;
      line-height: 28px;
      color: $font-black;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 28px;
    }
  }

  .section.section {
    &-menu {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: $shadow-uniform;

      .logos {
        height: 100px;
        display: flex;
        align-items: center;

        img {
          max-height: 100%;

          &:last-child {
            width: 150px;
            margin-left: 40px;
          }
        }
      }
    }

    &-header {
      display: flex;
      background-color: #f9f8f6;

      p {
        font-size: 22px;
        line-height: 35px;
        margin-bottom: 30px;
      }

      & > * {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &:nth-child(1) {
          padding-right: 20px;
        }

        &:nth-child(2) {
          padding-left: 20px;
        }
      }

      .image {
        max-width: 60%;

        img {
          width: auto;
          max-height: 450px;
        }
      }

      .actions {
        display: flex;

        & > *:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    &-how {
      & > div {
        box-sizing: border-box;
        display: flex;
        width: 100%;

        img {
          width: 100%;
          max-height: 100%;
        }
      }

      ::ng-deep .mat-stepper-horizontal {
        background-color: transparent;
        max-width: 100%;

        .mat-horizontal-content-container {
          padding: 0;
        }

        .mat-horizontal-stepper-header-container {
          max-width: 70%;
          margin: 0 auto 40px auto;

          .mat-stepper-horizontal-line {
            border-top-style: dotted;
            border-color: #cecece;
          }
        }

        .mat-step-header .mat-step-label {
          display: none;
        }

        .mat-step-header .mat-step-icon {
          background-color: $grey-light;
          color: $font-black;
          border: 2px solid $grey-light;
          font-weight: bold;
          width: 40px;
          height: 40px;
        }

        .mat-step-header .mat-step-icon.mat-step-icon-selected {
          color: $primary-color;
          background-color: transparent;
          border-color: $primary-color;
        }

        .mat-step-header.cdk-focused {
          background-color: transparent;
        }

        .mat-horizontal-stepper-content {
          display: flex;

          & > * {
            flex: 1;

            &:first-child {
              margin-right: 30px;
            }

            &:last-child {
              margin-left: 30px;
            }
          }
        }
      }
    }

    &-factory {
      .cards-wrapper {
        display: flex;

        & > .mat-card {
          margin: 0 30px;
          flex: 1;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          .mat-divider {
            position: relative;
            margin-top: 30px;
            width: 100%;
          }
        }

        .mat-card-avatar {
          width: auto;
          height: auto;

          img {
            width: 76px;
            height: 76px;
          }
        }
      }
    }

    &-testimony {

      .testimony-section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        .testimony-img img {
          height: 140px;
        }

        .testimony-text {
          p {
            font-size: 20px;
          }

          font-weight: bold;
        }

        .mat-divider {
          height: 240px;
          margin: 0 30px;
        }
      }
    }

    &-contact {
      background-color: #f2f2f9;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      font-size: 28px;

      & > div > * {
        margin: 0 10px;
      }
    }

    &-who {
      .description {
        display: flex;

        & > *:nth-child(1) {
          flex: 1;
          display: flex;
          align-items: center;

          img {
            &:first-child {
              height: 150px;
            }

            &:last-child {
              width: 150px;
              margin-left: 40px;
            }
          }
        }

        & > *:nth-child(2) {
          flex: 1;
          display: flex;
          align-items: center;
        }

        a {
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }

  .mat-divider {
    &.mat-primary {
      border-color: $primary-color;
      border-width: 2px;
    }

    &:not(.full-width):not(.mat-divider-vertical) {
      width: 80%;
      margin: auto;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: $grey;

    & > * {
      display: flex;
      align-items: center;
    }

    .links {
      a {
        color: $grey;
      }

      .mat-divider {
        margin: 0 16px;
        height: 18px;
      }
    }
  }
}

$margin-small: 20px;
@media only screen and (max-width: 1150px) {
  .home {
    .section {
      padding: 60px 5%;
    }

    .mat-divider:not(.full-width) {
      width: 90%;
    }

    .footer {
      padding: 20px 5%;
    }
  }
}

@media only screen and (max-width: 860px) {
  .home {
    .section {
      h2 {
        font-size: 25px;
        margin-bottom: $margin-small;
      }

      h1 {
        font-size: 30px;
        line-height: 30px;
      }

      h3 {
        font-size: 20px;
      }

      h2, h1 {
        text-align: center;
      }
    }

    .section.section {
      &-menu {
        .logos {
          height: 60px;

          img {
            &:last-child {
              width: 100px;
              margin-left: 40px;
            }
          }
        }
      }

      &-header {
        p {
          text-align: center;
        }

        & > *, & > *:first-child {
          padding: 0;
        }

        .image {
          margin-bottom: 30px;
          max-width: 100%;

          img {
            width: 100%;
            height: auto;
          }
        }

        .actions {
          flex-direction: column;
          align-items: center;

          & > * {
            width: 100%;

            & > button {
              width: 100%;
            }

            &:not(:last-child) {
              margin: 0 0 20px 0;
            }
          }
        }
      }

      &-how {
        ::ng-deep .mat-stepper-horizontal {
          .mat-horizontal-stepper-header-container {
            max-width: 100%;
          }

          .mat-horizontal-stepper-content {
            flex-direction: column;

            & > *, & > *:first-child, & > *:last-child {
              margin: 0;
            }

            a, button {
              width: 100%;
            }
          }
        }
      }

      &-factory {
        .cards-wrapper {
          flex-direction: column;

          & > .mat-card {
            margin: 0 0 20px 0;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      &-testimony {
        .testimony-section {
          flex-direction: column;

          .mat-divider {
            height: 0;
            margin: 20px 0;
          }
        }
      }

      &-contact {
        display: flex;
        flex-direction: column;

        & > *:not(:last-child) {
          margin-bottom: 20px;
        }

        .actions {
          display: flex;
          flex-direction: column;
          align-items: center;

          & > * {
            width: 100%;

            & > button {
              width: 100%;
            }

            &:not(:last-child) {
              margin: 0 0 20px 0;
            }
          }
        }
      }

      &-who {
        .description {
          display: block;

          & > * {
            display: flex;
            justify-content: center;
            text-align: center;

            img {
              max-width: 300px;
              width: 100%;
              margin-bottom: $margin-small;
            }
          }
        }
      }
    }

    .footer {
      flex-direction: column;

      & > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

}

