@import 'src/styles/variables';

.stats {
  background-color: #fdfdfd;
  color: $font-black;
  font-family: Marianne;
  overflow: hidden;

  .header, .body {
    padding: 60px 10%;

    h1 {
      font-size: 48px;
      line-height: 55px;
    }

    h2 {
      margin-top: 0;
      font-size: 32px;
      line-height: 56px;
      margin-bottom: 36px;
      text-align: center;
    }

    p {
      font-size: 16px;
      line-height: 28px;
    }
  }

  .header {
    background-color: #f9f8f6;

    p {
      font-size: 22px;
      line-height: 35px;
    }
  }

  .body {
    .key-numbers {
      text-align: center;

      > div {
        display: flex;

        & > * {
          border-radius: 0;
          box-shadow: none;
          font-size: 18px;
          font-weight: bold;
          text-align: left;
          width: calc(25% - 20px);
          padding-bottom: 36px;
        }

        & > *:not(:last-child) {
          margin-right: 20px;
        }

        & > *:nth-child(even) {
          border: 1px solid $primary-color-50;
        }

        & > *:nth-child(odd) {
          background-color: $primary-color-50;
        }

        img {
          height: 32px;
          width: auto;
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
      }
    }

    .graphs {
      .graph-container {
        margin-top: 40px;
        display: flex;
        border: 1px solid $primary-color-50;

        .chart-container {
          width: 50%;
          height: 300px;
          background-color: $grey-light;
        }

        .graph-legend {
          display: flex;
          align-items: center;
          font-size: 24px;
          font-weight: bold;
          flex: 1;
          padding-left: 40px;
        }
      }
    }
  }
}

$margin-small: 20px;
@media only screen and (max-width: 1150px) {
  .stats {
    .header, .body {
      padding: 60px 5%;
    }
  }
}

@media only screen and (max-width: 860px) {
  .stats {
    .header, .body {
      h2 {
        font-size: 25px;
        margin-bottom: 20px;
      }

      h1 {
        font-size: 30px;
        line-height: 30px;
      }

      p {
        font-size: 16px;
        line-height: 28px;
      }
    }

    .body {
      .key-numbers {
        > div {
          & > * {
            font-size: 14px;
          }

          img {
            height: 24px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .stats {
    .body {
      .key-numbers {
        > div {
          flex-direction: column;

          & > * {
            width: 100%;
            box-sizing: border-box;
          }

          & > *:not(:last-child) {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

