<div class="customization">
  <form [formGroup]="formGroup" *ngIf="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Quel est le nom de votre chatbot ?</mat-label>
      <input matInput
             formControlName="name"
             [placeholder]="'Saisir ...'"
             required/>
      <mat-error *ngIf="controls.name.hasError('required')">
        Vous n'avez pas saisi de nom pour votre chatbot.
      </mat-error>
    </mat-form-field>

    <div>
      <input class="colorpicker"
             [colorPicker]="controls.primaryColor.value"
             [style.background]="controls.primaryColor.value"
             (colorPickerChange)="controls.primaryColor.setValue($event)"/>

      <input class="colorpicker"
             [colorPicker]="controls.secondaryColor.value"
             [style.background]="controls.secondaryColor.value"
             (colorPickerChange)="controls.secondaryColor.setValue($event)"/>
    </div>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </form>
</div>
