DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=fabrique_chatbot_user
DATABASE_PASSWORD=password
DATABASE_NAME=fabrique_chatbot

MAIL_USER=no-reply.chatbot@fabnum.fr
MAIL_PASSWORD=mail_password
MAIL_HOST=smtp.example.com
MAIL_PORT=465

HOST_URL=http://localhost:4200
