<div class="create-bot-form">
  <h1>Créer un chatbot</h1>
  <mat-divider></mat-divider>

  <!-- TODO: linear true when debug is over -->
  <mat-horizontal-stepper labelPosition="bottom" [linear]="false">
    <mat-step [stepControl]="formArray.at(0)">
      <ng-template matStepLabel>
        <h2>Paramétrage</h2>
      </ng-template>
      <div class="bot-step">
        <div class="bot-step-header">
          <h2>Paramétrage</h2>
        </div>
        <div class="bot-step-content">
          <app-file-check-step [formGroup]="formArray.at(0)">></app-file-check-step>
        </div>
        <div class="bot-step-actions">
          <button mat-stroked-button color="accent" matStepperPrevious disabled>Précédent</button>
          <button mat-flat-button color="accent" matStepperNext>Suivant</button>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="formArray.at(1)">
      <ng-template matStepLabel>
        <h2>Description</h2>
      </ng-template>
      <div class="bot-step">
        <div class="bot-step-header">
          <h2>Description</h2>
        </div>
        <div class="bot-step-content">
          <app-description-step [formGroup]="formArray.at(1)"></app-description-step>
        </div>
        <div class="bot-step-actions">
          <button mat-stroked-button color="accent" matStepperPrevious>Précédent</button>
          <button mat-flat-button color="accent" matStepperNext>Suivant</button>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="formArray.at(2)">
      <ng-template matStepLabel>
        <h2>Personnalisation</h2>
      </ng-template>
      <div class="bot-step">
        <div class="bot-step-header">
          <h2>Personnalisation</h2>
        </div>
        <div class="bot-step-content">
          <app-customization-step [formGroup]="formArray.at(2)"></app-customization-step>
        </div>
        <div class="bot-step-actions">
          <button mat-stroked-button color="accent" matStepperPrevious>Précédent</button>
          <button mat-flat-button color="accent" matStepperNext>Suivant</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <h2>Finalisation</h2>
      </ng-template>
      <div class="bot-step">
        <div class="bot-step-header">
          <h2>Finalisation</h2>
        </div>
        <div class="bot-step-content">
          <app-resume-step [formArray]="formArray"></app-resume-step>
        </div>
        <div class="bot-step-actions">
          <button mat-stroked-button color="accent" matStepperPrevious>Précédent</button>
          <!--<button mat-flat-button color="accent" matStepperNext>Générer le chatbot</button>-->
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
