<mat-horizontal-stepper linear>
  <mat-step [stepControl]="formArray.at(0)">
    <app-file-check-step [formGroup]="formArray.at(0)">></app-file-check-step>
  </mat-step>
  <mat-step [stepControl]="formArray.at(1)">
    <form [formGroup]="formArray.at(1)">
      <ng-template matStepLabel>Personnalisation</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput
               placeholder="Last name, First name"
               formControlName="firstNameFormCtrl"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
