@import 'src/styles/variables';

.footer {
  padding: 0 5vw;
  height: 100px;
  color: $grey;
  font-family: Marianne, "Helvetica Neue", sans-serif;

  .copyright {
    a {
      display: flex;
      align-items: center;

      span {
        text-decoration: underline;
      }
    }

    .mat-icon {
      font-size: 16px;
      height: 16px;
      width: 16px;
      margin-left: 5px;
    }
  }


  .links {
    a {
      color: $grey;
    }

    .mat-divider {
      margin: 0 16px;
      height: 18px;
    }
  }

  & > .mat-divider {
    margin: 20px 0;
  }

  & > * {
    display: flex;
    align-items: center;
  }

  &-light {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: $grey;
    height: auto;
  }
}

@media only screen and (max-width: 1150px) {
  .footer-light {
    padding: 20px 5%;
  }
}

@media only screen and (max-width: 860px) {
  .footer-light {
    justify-content: center;

    .links {
      flex-direction: column;

      & > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    .mat-divider {
      display: none;
    }
  }
}
