<div class="footer">
  <div class="links">
    <a target="_blank" href="mailto:fabrique-chatbots@beta.gouv.fr" rel="noopener">Contact</a>
    <a target="_blank" href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/" rel="noopener">Documentation</a>
    <a target="_blank" href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/cgu" rel="noopener">Mentions légales</a>
    <a target="_blank" rel="noopener" href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/accessibilite-du-site">Accessibilité</a>
  </div>
  <div class="copyright">
    <span>Conçu et développé avec 💗 par la</span>
    <a target="_blank" href="https://beta.gouv.fr/startups/?incubateur=fabnumdef" rel="noopener">
      <img src="assets/img/logo_fabrique_numerique.svg" alt="logo fabrique numérique">
    </a>
  </div>
</div>
