NODE_ENV={{ envFile_node_env }}

DATABASE_HOST={{ envFile_dataBase_host }}
DATABASE_PORT={{ envFile_database_port }}
DATABASE_USER={{ envFile_database_user }}
DATABASE_PASSWORD={{ envFile_database_password }}
DATABASE_NAME={{ envFile_database_name }}

MAIL_USER={{ envFile_mail_user }}
MAIL_PASSWORD={{ envFile_mailPassword }}
MAIL_HOST={{ envFile_mailHost }}
MAIL_PORT={{ envFile_mailPort }}

JWT_SECRET={{ envFile_jwt_secret }}
HOST_URL={{ envFile_host_url }}

NODE_TLS_REJECT_UNAUTHORIZED=0


