[Unit]
Description=Rasa-Core
After=multi-user.target pm2-{{ chatbot_user }}.service

[Service]
Type=simple
WorkingDirectory={{ appsDir }}/{{ botDir }}
ExecStart=python3 -m rasa run --cors '*' --model {{ appsDir }}/{{ botDir }}/models/ --log-file {{ userBotDir }}/rasa-core.log --endpoints {{ appsDir }}/{{ botDir }}/endpoints.yml
User={{ chatbot_user }}
Group={{ chatbot_user }}

[Install]
WantedBy=multi-user.target
