<div class="home">
  <a href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/" target="_blank">
    <button mat-stroked-button
            color="primary">
      Aller sur le gitbook 📒
    </button>
  </a>
  <button mat-stroked-button
          color="accent"
          [routerLink]="'/auth/login'">
    Login 🥳
  </button>
  <button mat-stroked-button
          color="accent"
          [routerLink]="'/create'">
    Créer chatbot 🤖
  </button>
  <button mat-stroked-button
          color="accent"
          [routerLink]="'/ui'">
    UI 🎨
  </button>
</div>
