<div class="resume">
  <div *ngIf="!chatbotGenerated">
    <div class="chatbot-subtitle">
      <h4>Récapitulatif des données</h4>
    </div>
    <div class="info-block">
      <h4>Paramétrage</h4>
      <mat-divider></mat-divider>
      <div class="label">Sur quel réseau doit être déployé votre chatbot ?</div>
      <div class="value">{{formArray.at(0).value.intraDef ? 'Intradef' : 'Internet'}}</div>
      <ng-container *ngIf="formArray.at(0).value.users?.length > 0">
        <ng-container *ngFor="let user of formArray.at(0).value.users; let idx = index">
          <mat-divider></mat-divider>
          <div class="label">Utilisateur {{ idx + 1 }}</div>
          <div class="value">{{ user.firstName }} {{ user.lastName }} ({{ user.email }}) - {{ chatbotUserRole_Fr[user.role] }}</div>
        </ng-container>
      </ng-container>
    </div>

    <div class="info-block">
      <h4>Description</h4>
      <mat-divider></mat-divider>
      <div class="label">À quelle problématique répond votre chatbot ?</div>
      <div class="value">{{formArray.at(1).value.problematic}}</div>
      <mat-divider></mat-divider>
      <div class="label">À qui s'adresse votre chatbot ?</div>
      <div class="value">{{formArray.at(1).value.audience}}</div>
    </div>

    <div class="info-block">
      <h4>Personnalisation</h4>
      <mat-divider></mat-divider>
      <div class="label">Quelle est l'identité de votre chatbot ?</div>
      <div class="value">{{formArray.at(2).value.name}}</div>
      <div class="value">{{formArray.at(2).value.function}}</div>
      <mat-divider></mat-divider>
      <div class="label">Quelle est l'icône de votre chatbot ?</div>
      <div *ngIf="iconPreview" class="icon">
        <img [src]="iconPreview"
             [alt]="'Icône du chatbot: ' + formArray.at(2).value.icon.name">
      </div>
      <mat-divider></mat-divider>
      <div class="label">Quelles sont vos couleurs ?</div>
      <div class="color-wrapper value">
        <div>Chatbot</div>
        <div [ngStyle]="{'background-color': formArray.at(2).value.primaryColor}"></div>
      </div>

      <div class="color-wrapper value">
        <div>Utilisateur</div>
        <div [ngStyle]="{'background-color': formArray.at(2).value.secondaryColor}"></div>
      </div>
    </div>

    <div class="info-block">
      <mat-checkbox [formControl]="conditionControl" data-cy="ConditionCheckbox">
        Je m'engage à mettre à disposition du projet une personne afin de garantir la mise à jour du chatbot.
      </mat-checkbox>
    </div>
  </div>

  <div class="success-tab" *ngIf="chatbotGenerated">
    <mat-icon color="primary">check_circle</mat-icon>
    <h2>Votre chatbot est en cours de création !</h2>
    <div>
      Surveillez votre boîte mail.
    </div>
    <div>
      Vous recevrez sous 24h un mail vous donnant accès à votre chatbot dès qu'il sera prêt.
    </div>
    <mat-divider></mat-divider>
    <div class="red">
      <mat-icon>warning</mat-icon> &nbsp; <b>N'oubliez pas de créer une fiche Sicl@de pour référencer votre chatbot.</b>
    </div>
  </div>
</div>
