<div class="header mat-elevation-z2">
  <div class="image-wrapper" [routerLink]="'/'">
    <img src="assets/img/logo_ministere_armees.png" alt="logo ministère des armées">
    <img src="assets/img/logo_fabrique_chatbot.png" alt="logo fabrique à chatbots">
  </div>
  <div class="action-wrapper">
    <button mat-stroked-button
            color="accent"
            [routerLink]="'/admin'"
            *ngIf="isUserAdmin">
      Administrateur
    </button>
    <button mat-stroked-button
            color="accent"
            *ngIf="user"
            (click)="logout()">
      Déconnexion
    </button>
  </div>
</div>
