button {
  &.mat-flat-button, &.mat-stroked-button {
    border-radius: 50px;

    &:not([disabled]) {
      border-color: currentColor!important;
    }

    &:not(.small) {
      min-width: 180px;
    }
  }

  &.mat-button-base:not(.mat-icon-button) .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-icon {
      margin-right: 5px;
    }
  }
}
