@import 'theme';

/**
COLORS
 */
$primary-color: map-get($chatbot-primary, 500);
$accent-color: map-get($chatbot-accent, 500);
$white: #ffffff;
$grey-lighter: #f7f7f7;
$grey-light: #d4d4d4;

$title-font: 'Gilroy';
