@import "src/styles/variables";

.warnings {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  height: 100%;
  overflow: hidden;

  .close {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    .mat-icon {
      margin-right: inherit;
    }
  }

  $border-radius: 5px;

  .details {
    border-radius: $border-radius;
    border: 1px solid $input-border-color;
    // 100% - close height - h3 height
    max-height: calc(100% - 108px);

    .header {
      background-color: $grey-lighter;
      padding: 20px 20px 20px 40px;
      display: flex;
      align-items: center;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;

      .number {
        width: 40px;
        background-color: $accent-color;
        color: $white;
        border-radius: 13px;
        text-align: center;
        margin-right: 15px;
      }

      h3 {
        margin: 0;
      }
    }

    .content {
      // 100% - header height
      max-height: calc(100% - 68px);
      overflow-y: auto;
      padding: 0 20px;

      .line {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: $border-radius;
        padding: 20px;

        &.striped {
          background-color: $grey-lighter;
        }

        .line-number {
          color: $accent-color;
        }
      }
    }
  }
}
