<div class="file-check">
  <form [formGroup]="formGroup" *ngIf="formGroup">
    <div class="chatbot-subtitle">
      <h4>Téléchargement de la base de connaissances</h4>
    </div>
    <div class="file-input">
      <span>Chargez la base de connaissances de votre chatbot, nous allons vérifier la conformité de votre fichier (format de fichier Excel .xlsx).
        <br/>Si vous n’avez pas le modèle de référence, vous pouvez le télécharger
        <a target="_blank"
           rel="noopener"
           data-cy="TemplateDownloadButton"
           href="https://firebasestorage.googleapis.com/v0/b/gitbook-28427.appspot.com/o/assets%2F-M0MbNyvjB7hr1guybEn%2F-MKpTpFIVIrfjvIZBCKK%2F-MKpU86s10Gn67n_af1Z%2FTEMPLATE_CHATBOT.xlsx?alt=media&token=ced1a073-deae-4ece-bc2a-5d033e9efd15">
          ici.
        </a>
      </span>
      <button mat-flat-button
              color="primary"
              data-cy="UploadFileButton"
              [disabled]="(chatbotService.loading$ | async) || !!fileCtrl.value"
              (click)="uploader.click()">
        <mat-icon *ngIf="!(chatbotService.loading$ | async)">add</mat-icon>
        <mat-spinner *ngIf="chatbotService.loading$ | async"
                     aria-label="Chargement et vérification du fichier"
                     [diameter]="24"></mat-spinner>
        Ajouter un fichier
      </button>
      <input hidden
             type="file"
             data-cy="UploadFileInput"
             #uploader
             (change)="uploadFile($event)"
             [accept]="'.xlsx'"/>
    </div>

    <div class="feedback-wrapper" data-cy="FileWrapper" *ngIf="fileTemplateCheckResume">
      <h3>Base de connaissances</h3>
      <div class="file-wrapper" *ngIf="fileCtrl.value">
        <div class="file-header">
          <div class="file-name">
            <mat-icon color="primary"
                      *ngIf="!hasFileErrors()">
              check_circle
            </mat-icon>
            <mat-icon color="accent"
                      *ngIf="hasFileErrors()">
              cancel
            </mat-icon>
            {{ fileCtrl.value.name }}
          </div>
          <div class="file-buttons">
            <button mat-stroked-button
                    color="primary"
                    data-cy="DeleteFileBtn"
                    (click)="resetFile()">
              Supprimer
            </button>
            <button mat-flat-button
                    color="primary"
                    data-cy="UpdateFileBtn"
                    [disabled]="chatbotService.loading$ | async"
                    (click)="uploader.click()">
              Remplacer fichier
            </button>
          </div>
        </div>
        <div class="file-status">
            <span class="valid" data-cy="FileValidSpan" *ngIf="!hasFileErrors()">
              Votre fichier est valide.
            </span>
          <span class="error" data-cy="FileErrorSpan" *ngIf="hasFileErrors()">
              Votre fichier contient des erreurs. Veuillez le corriger et le mettre à jour.
            </span>
        </div>
        <div class="feedback-wrapper">
          <mat-divider></mat-divider>
          <div class="content">
            <div class="number" data-cy="FileErrorNumber" [ngClass]="{'error': hasFileErrors()}">
              {{objectKeys(fileTemplateCheckResume.errors).length}}
            </div>
            <div class="message">
              <b>Erreur(s)</b><span class="red">*</span><br/>
              <span *ngIf="!hasFileErrors(); else messageError">
                Votre fichier est conforme aux normes.
              </span>
              <ng-template #messageError>
                Votre fichier contient des erreurs qui l'empêche de fonctionner.
                <a data-cy="ErrorDialog" (click)="openDialog(true, fileTemplateCheckResume.errors)">
                  <b>Visualiser les erreurs</b>
                </a>
              </ng-template>
            </div>
            <a target="_blank"
               rel="noopener"
               *ngIf="hasFileErrors()"
               href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/base-documentaire/description"
               class="help-btn">
              <button mat-button
                      color="accent"
                      class="small">
                Aide
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </a>
          </div>
          <mat-divider></mat-divider>
          <div class="content">
            <div class="number" data-cy="FileWarningNumber">
              {{ objectKeys(fileTemplateCheckResume.warnings).length }}
            </div>
            <div class="message">
              <b>Avertissement(s)</b><br/>
              <span *ngIf="!hasFileWarnings(); else messageWarning">
                Votre fichier ne contient pas d'avertissements.
              </span>
              <ng-template #messageWarning>
                Votre fichier contient des avertissements qui ne sont pas bloquants pour la création de votre
                chatbot.
                <a data-cy="WarningDialog" (click)="openDialog(false, fileTemplateCheckResume.warnings)">
                  <b>Visualiser les avertissements</b>
                </a>
              </ng-template>
            </div>
            <a target="_blank"
               rel="noopener"
               *ngIf="hasFileWarnings()"
               class="help-btn"
               href="https://fabrique-a-chatbots.gitbook.io/fabrique-a-chatbots/base-documentaire/description">
              <button mat-flat-button
                      color="accent"
                      class="small">
                <mat-icon>help_outline</mat-icon>
                Aide
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="chatbot-subtitle">
      <h4>Cadre d'utilisation de votre chatbot</h4>
    </div>
    <p>Vous souhaitez que votre chatbot soit consultable sur :</p>
    <div class="chatbot-info">
      <mat-icon>info</mat-icon>
      <div>
        Le circuit Intradef nécessite de faire une demande de chatbot sur le catalogue de services de la DIRISI - Diademe.
      </div>
    </div>
    <mat-radio-group aria-label="Visibilité du chatbot : internet / intradef"
                     labelPosition="after"
                     formControlName="intraDef"
                     color="primary">
      <mat-radio-button data-cy="InternetRadioBtn" [value]="false">Internet</mat-radio-button>
    </mat-radio-group>

    <div class="chatbot-subtitle">
      <h4>Accès à votre chatbot</h4>
    </div>
    <div class="chatbot-domain">
      <div>https://</div>
      <mat-form-field appearance="fill">
        <mat-label>Nom de domaine</mat-label>
        <input matInput
               placeholder="Saisir..."
               formControlName="domainName"
               maxlength="50"
               required>
        <mat-error *ngIf="controls.domainName.hasError('required')">
          Vous n'avez pas saisi de nom de domaine.
        </mat-error>
        <mat-error *ngIf="controls.domainName.hasError('maxlength')">
          Le nom de domaine est trop long, il doit faire au maximum 50 caractères.
        </mat-error>
        <mat-error *ngIf="controls.domainName.hasError('pattern')">
          Le nom de domaine ne peut contenir que des lettres minuscules sans accents et des tirets.
        </mat-error>
      </mat-form-field>
      <div>.chatbot.fabnum.fr</div>
    </div>
    <div class="chatbot-subtitle">
      <h4>Utilisateurs de l'interface de gestion du chatbot (back-office)</h4>
    </div>
    <div class="user-description">
      <span>
        Vous pouvez sauter cette étape et les ajouter plus tard.
      </span>
    </div>
    <div>
      <div *ngFor="let userForm of usersFormArray.controls; let idx = index">
        <div class="user-header">
          <h4>Utilisateur {{ idx + 1 }}</h4>
          <button mat-icon-button
                  (click)="usersFormArray.removeAt(idx)"
                  color="primary"
                  data-cy="DeleteUserBtn"
                  aria-label="Supprimer l'utilisateur">
            <mat-icon>
              delete
            </mat-icon>
          </button>
        </div>
        <app-chatbot-user-form [chatbotUserForm]="userForm"></app-chatbot-user-form>
      </div>
    </div>
    <button mat-stroked-button
            color="primary"
            data-cy="AddUserBtn"
            (click)="addUser()"
            [disabled]="!usersFormArray.valid">
      <mat-icon>person_add</mat-icon>
      Ajouter un utilisateur
    </button>
  </form>
</div>
