<div class="public-pre-footer">
  <div class="contact">
    <div>
      Vous avez un projet ?
    </div>
    <div class="actions">
      <button mat-flat-button
              color="primary"
              [routerLink]="'/create'">
        Créer votre chatbot
      </button>
      <a href="mailto:fabrique-chatbots@beta.gouv.fr"
         target="_blank"
         rel="noopener">
        <button mat-stroked-button
                color="primary">
          Contactez-nous
        </button>
      </a>
    </div>
  </div>
  <mat-divider class="full-width mat-primary"></mat-divider>
  <div class="who">
    <div class="description">
      <div>
        <img src="assets/img/logo_republique_francaise.svg" alt="logo république française">
        <a target="_blank"
           href="https://beta.gouv.fr/startups/?incubateur=fabnumdef"
           rel="noopener">
          <img src="assets/img/logo_fabrique_numerique.svg" alt="logo fabrique numérique">
        </a>
        <a target="_blank"
           href="https://beta.gouv.fr"
           rel="noopener">
          <img src="assets/img/logo_betagouvfr.svg" alt="logo beta gouv fr">
        </a>
      </div>
      <div>
        <p>La Fabrique numérique est l’incubateur de services numériques du ministère des Armées. Nous permettons à des
          agents ayant identifié un problème dans leur activité, de créer un nouveau service répondant au besoin des
          usagers.
          <br/>
          <a target="_blank"
             href="https://beta.gouv.fr/startups/?incubateur=fabnumdef"
             rel="noopener">
            https://beta.gouv.fr/startups/?incubateur=fabnumdef
          </a>
        </p>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
