@import "src/styles/variables";

.file-check {
  .file-input {
    display: flex;
    align-items: center;

    button {
      margin-left: 20px;
    }
  }

  .mat-divider {
    margin-top: 20px;
  }

  .file-wrapper {
    background-color: $grey-lighter;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > * {
      display: flex;
      align-items: center;

      & > *:first-child {
        margin-right: 15px;
      }
    }
  }

  .feedback-wrapper {
    .feedback-table {
      display: flex;

      & > * {
        min-width: 200px;
      }
    }
    .warnings {

    }
  }
}
