@import "src/styles/variables";

.file-check {

  form {

    .file-input {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        margin-left: 20px;
      }
    }

    mat-form-field {
      width: 100%;
    }

    .author-description {
      margin-bottom: 30px;
    }

    .author-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 0;
      width: 100%;

      .author-content-element {
        width: 48%;
      }
    }

    .half-width-input {
      width: 50%;
    }

    .mat-divider {
      margin-top: 20px;
    }

    .feedback-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;

      h3 {
        margin-top: 20px;
        color: $primary-color;
      }
      .feedback-wrapper-content{
        display: flex;
        flex-direction: column;
      }
      .file-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border: 1px solid $input-border-color;
  
        .file-wrapper-fileInfo{
          width: 100%;
          display: flex;
          background-color: $grey-lighter;
          justify-content: space-between;

          .fileInfo {
            display: flex;
            align-items: center;
            padding-left: 20px;
          }

          .fileName {
            padding-left: 10px;
          }

          .file-wrapper-buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px 20px;
  
            .delete-button{
              margin-right: 20px;
            }
          }
        }

        .file-wrapper-fileStatus {
          padding: 10px 25px;

          .file-wrapper-fileValid {
            color: $primary-color;
          }
  
          .file-wrapper-fileError {
            color: $accent-color;
          }
        }
        
        .feedback-table {
          width: 97%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 15px;
          padding: 0px 20px;

          .feedback-table-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-top: 1px solid $input-border-color;
            margin-top: 15px;

            .feedback-element {
              display: flex;
              flex-direction: row;
              margin-top: 15px;

              .red{
                color: $accent-color;
              }

              .number {
                width: 40px;
                background-color: $accent-color;
                color: $white;
                border-radius: 13px;
                text-align: center;
                margin-right: 5px;
              }
            }

            .message {
              padding-left: 45px;

              a {
                text-decoration: underline;
                color: $accent-color;
                cursor: pointer;
              }
            }
          }
  
          & > * {
            min-width: 200px;
          }
        }

        
        & > * {
          display: flex;
          align-items: center;
  
          & > *:first-child {
            margin-right: 15px;
          }

        }
      }

      .warnings {

      }
    }
  }
}
