<div class="file-check">
  <form [formGroup]="formGroup" *ngIf="formGroup">
    <h2>Téléchargement de la base documentaire</h2>
    <div class="file-input">
      <span>Chargez la base documentaire de votre chatbot, nous allons vérifier la conformité de votre fichier (format de fichier Excel .xlsx).
        <br/>Si vous n’avez pas le modèle de référence, vous pouvez le télécharger
        <a target="_blank"
           href="https://firebasestorage.googleapis.com/v0/b/gitbook-28427.appspot.com/o/assets%2F-M0MbNyvjB7hr1guybEn%2F-M1jG3_OcdCVFT8JT7J0%2F-M1jHaBUlqkF8rNMKV06%2FTEMPLATE_CHATBOT.xlsx?alt=media&token=f926397d-7b9c-40f5-ad1a-2f7b21283f90">
          ici.
        </a>
      </span>
      <button mat-flat-button
              color="accent"
              [disabled]="(chatbotService.loading$ | async) || !!fileCtrl.value"
              (click)="uploader.click()">
        <mat-icon *ngIf="!(chatbotService.loading$ | async)">add</mat-icon>
        <mat-spinner *ngIf="chatbotService.loading$ | async"
                     aria-label="Chargement et vérification du fichier"
                     [diameter]="24"></mat-spinner>
        Ajouter un fichier
      </button>
      <input hidden
             type="file"
             #uploader
             (change)="uploadFile($event)"
             [accept]="'.xlsx'"/>
    </div>

    <div class="feedback-wrapper" *ngIf="fileTemplateCheckResume">
      <h3>Base documentaire</h3>
      <div class="feedback-file">
        <div class="file-wrapper" *ngIf="fileCtrl.value">
          <div class="file-name">
            <mat-icon color="primary"
                      *ngIf="!hasFileErrors()">
              check_circle
            </mat-icon>
            <mat-icon color="accent"
                      *ngIf="hasFileErrors()">
              cancel
            </mat-icon>
            {{ fileCtrl.value.name }}
          </div>
          <div class="file-status">
            <span class="valid" *ngIf="!hasFileErrors()">
              Votre fichier est valide.
            </span>
            <span class="error" *ngIf="hasFileErrors()">
              Votre fichier contient des erreurs. Veuillez le corriger et le mettre à jour.
            </span>
          </div>
          <div class="file-buttons">
            <button mat-stroked-button
                    color="accent"
                    (click)="resetFile()">
              Supprimer
            </button>
            <button mat-flat-button
                    color="accent"
                    [disabled]="chatbotService.loading$ | async"
                    (click)="uploader.click()">
              Mettre à jour
            </button>
          </div>
        </div>
        <div class="feedback-wrapper">
          <div class="content">
            <div class="number" [ngClass]="{'error': hasFileErrors()}">
              {{ objectKeys(fileTemplateCheckResume.errors).length }}
            </div>
            <div class="message">
              <b>Erreur(s)</b><span class="red">*</span><br/>
              <span *ngIf="!hasFileErrors(); else messageError">
                Votre fichier est conforme aux normes.
              </span>
              <ng-template #messageError>
                Votre fichier contient des erreurs qui l'empêche de fonctionner.<br/>
                <a (click)="openDialog(true, fileTemplateCheckResume.errors)">
                  <b>Visualiser les erreurs</b>
                </a>
              </ng-template>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="content">
            <div class="number" [ngClass]="{'error': hasFileWarnings()}">
              {{ objectKeys(fileTemplateCheckResume.warnings).length }}
            </div>
            <div class="message">
              <b>Avertissement(s)</b><br/>
              <span *ngIf="!hasFileWarnings(); else messageWarning">
                Votre fichier ne contient pas d'avertissements.
              </span>
              <ng-template #messageWarning>
                Votre fichier contient des avertissements qui ne sont pas bloquants pour la création de votre
                chatbot.<br/>
                <a (click)="openDialog(false, fileTemplateCheckResume.warnings)">
                  <b>Visualiser les avertissements</b>
                </a>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <h2>Cadre d'utilisation de votre chatbot</h2>
    <p>Vous souhaitez que votre chatbot soit consultable sur :</p>
    <mat-radio-group aria-label="Visibilité du chatbot : internet / intradef"
                     labelPosition="before"
                     formControlName="intraDef"
                     color="primary">
      <mat-radio-button [value]="false">Internet</mat-radio-button>
      <mat-radio-button [value]="true">Intradef</mat-radio-button>
    </mat-radio-group>
    <mat-divider></mat-divider>
    <h2>Utilisateurs de la plateforme ou contacts</h2>
    <div class="author-description">
      <span>
        Vous pouvez sautez cette étape et les ajouter plus tard.
      </span>
    </div>
    <div class="author-content">
      <div class="author-content-element">
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Nom, Prénom</mat-label>
          <input matInput
                 id="author-field"
                 formControlName="author"
                 [placeholder]="'Saisir ...'"
                 required/>
          <mat-error *ngIf="controls.author.hasError('required')">
            Vous n'avez pas saisi le nom du contact.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="author-content-element">
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Rôle</mat-label>
          <mat-select formControlName="role" required>
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="controls.role.hasError('required')">Vous n'avez pas renseigné le rôle du contact</mat-error>
        </mat-form-field>
      </div>
      <div class="author-content-element">
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput
                 id="author-field"
                 formControlName="email"
                 [placeholder]="'Saisir ...'"
                 required/>
          <mat-error *ngIf="controls.email.hasError('required')">
            Vous n'avez pas saisi le mail du contact.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
