<div class="ResetPassword">
  <h2>
    Réinitialiser votre mot de passe
  </h2>
  <form [formGroup]="resetPasswordForm"
        *ngIf="resetPasswordForm"
        (keyup.enter)="resetPassword()">
    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput
             [type]="hidePassword ? 'password' : 'text'"
             placeholder="Saisir..."
             formControlName="password"
             data-cy="PasswordInput"
             maxlength="200"
             required>
      <button mat-button
              matSuffix
              mat-icon-button
              type="button"
              aria-label="Montrer mot de passe"
              (click)="hidePassword = !hidePassword">
        <mat-icon>visibility</mat-icon>
      </button>
      <mat-error *ngIf="controls.password.hasError('required')">
        Vous n'avez pas saisi de mot de passe.
      </mat-error>
      <mat-error *ngIf="controls.password.hasError('minlength')">
        Le mot de passe doit faire au minimum 8 caractères.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirmation de mot de passe</mat-label>
      <input matInput
             [type]="hideCheckPassword ? 'password' : 'text'"
             placeholder="Saisir..."
             formControlName="checkPassword"
             data-cy="PasswordCheckInput"
             maxlength="200"
             required>
      <button mat-button
              matSuffix
              mat-icon-button
              type="button"
              aria-label="Montrer confirmation mot de passe"
              (click)="hideCheckPassword = !hideCheckPassword">
        <mat-icon>visibility</mat-icon>
      </button>
      <mat-error *ngIf="controls.checkPassword.hasError('required')">
        Vous n'avez pas saisi de mot de passe.
      </mat-error>
      <mat-error *ngIf="controls.checkPassword.hasError('notSame')">
        Les mot de passe ne correspondent pas.
      </mat-error>
    </mat-form-field>
  </form>

  <button mat-flat-button
          color="accent"
          data-cy="ResetPasswordBtn"
          [disabled]="!resetPasswordForm.valid"
          (click)="resetPassword()">
    Valider
  </button>
</div>
