@import "src/styles/variables";

.SignIn {
  text-align: center;

  form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    mat-form-field {
      width: 100%;
    }
  }

  a {
    font-size: 12px;
    color: $primary-color;
    text-decoration: none;
  }

  mat-divider {
    margin-top: 20px;
  }
}
