<div class="ForgotPassword">
  <h2>
    Mot de passe oublié ?
  </h2>
  <form [formGroup]="forgotPasswordForm"
        *ngIf="forgotPasswordForm"
        (keyup.enter)="forgotPassword()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput
             placeholder="Saisir..."
             formControlName="email"
             data-cy="EmailInput"
             maxlength="200"
             required>
      <mat-error *ngIf="controls.email.hasError('required')">
        Vous n'avez pas saisi d'email.
      </mat-error>
      <mat-error *ngIf="controls.email.hasError('email')">
        L'email saisi n'est pas valide (exemple@exemple.com).
      </mat-error>
    </mat-form-field>
  </form>

  <button mat-flat-button
          color="accent"
          [disabled]="!forgotPasswordForm.valid"
          data-cy="ForgotPasswordBtn"
          (click)="forgotPassword()">
    Valider
  </button>
</div>
