@import 'src/styles/variables';

:host {
  background-color: $grey-lighter;
  display: block;
}

.body {
  max-width: 90%;
  margin: auto;
  margin-top: 40px;

  // full height - header height - footer height - margin-top
  min-height: calc(100vh - 100px - 70px - 40px);
}
