<div class="ui">
  <h1>Balises H1, H2</h1>
  <mat-divider></mat-divider>
  <h1>Texte H1</h1>
  <h2>Texte H2</h2>

  <h1>Boutons</h1>
  <mat-divider></mat-divider>
  <button mat-flat-button color="primary">Informations générales</button>
  <button mat-flat-button color="accent">Informations générales</button>
  <button mat-stroked-button color="primary">Informations générales</button>
  <button mat-stroked-button color="accent">Informations générales</button>

  <h1>Inputs</h1>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

  <mat-radio-group aria-label="Select an option" labelPosition="before" color="primary">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="outline">
    <mat-label>Font size</mat-label>
    <mat-select value="16px">
      <mat-option value="10px">10px</mat-option>
      <mat-option value="12px">12px</mat-option>
      <mat-option value="14px">14px</mat-option>
      <mat-option value="16px">16px</mat-option>
      <mat-option value="18px">18px</mat-option>
      <mat-option value="20px">20px</mat-option>
    </mat-select>
  </mat-form-field>
</div>
