@import 'src/styles/variables';

button {
  &.mat-button-base {
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 0;

    &.large {
      height: 56px;
      padding-left: 32px;
      padding-right: 32px;
      font-size: 20px;
    }

    &.mat-flat-button.mat-primary:not([disabled]):hover {
      background-color: #1212ff;
    }

    &:hover, &.mat-stroked-button:hover {
      background-color: rgba(224, 224, 224, 0.5);
    }
  }

  &.mat-flat-button, &.mat-stroked-button {
    border-width: 2px;

    &:not([disabled]) {
      border-color: currentColor!important;
    }
  }

  &.mat-button-base:not(.mat-icon-button) .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-icon {
      margin-left: 5px;
    }
  }

  &.mat-button.chatbot-button {
    font-family: $title-font;
    font-size: 16px;
    color: #000;
    padding-left: 0;
    $icon-height: 36px;

    .mat-icon {
      margin-right: 15px;
      background-color: #F1EFF1;
      min-height: $icon-height;
      min-width: $icon-height;
      line-height: $icon-height;
      border-radius: $border-radius;
      font-size: 20px;
    }

    .mat-button-wrapper {
      justify-content: flex-start;
      line-height: $icon-height;
    }

    &.mat-primary {
      color: $primary-color;

      .mat-icon {
        background-color: $primary-color;
        color: $white;
      }
    }
  }

  &.mat-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    padding: 0 19px;
  }
}
