@import 'variables';

table.mat-table {
  .mat-header-cell {
    background-color: $primary-color-50;
    color: $black;
    font-weight: bold;
    font-size: 14px;

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }
  }

  .action-wrapper {
    display: flex;
    margin-left: 10px;

    & > button:not(:last-child) {
      margin-right: 10px;
    }
  }
}
