@use '@angular/material' as mat;
@import '@angular/material/theming';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Chatbot palettes

$chatbot-blue: (
  50 : #f5f5fe,
  100 : #b3b3de,
  200 : #8080c8,
  300 : #4d4db2,
  400 : #2626a2,
  500 : #000091,
  600 : #000089,
  700 : #00007e,
  800 : #000074,
  900 : #000062,
  A100 : #9292ff,
  A200 : #5f5fff,
  A400 : #2c2cff,
  A700 : #1313ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$chatbot-red: (
  50 : #fbe0e2,
  100 : #f6b3b7,
  200 : #f08087,
  300 : #ea4d57,
  400 : #e62633,
  500 : #e1000f,
  600 : #dd000d,
  700 : #d9000b,
  800 : #d50008,
  900 : #cd0004,
  A100 : #fff5f5,
  A200 : #ffc2c2,
  A400 : #ff8f8f,
  A700 : #ff7575,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$chatbot-primary: mat.define-palette($chatbot-blue);
$chatbot-accent: mat.define-palette($chatbot-red);
$chatbot-warn: mat.define-palette(mat.$red-palette);
$chatbot-typography: mat.define-legacy-typography-config(
  $font-family: 'Marianne',
);
$chatbot-theme: mat.define-light-theme((
  color: (
    primary: $chatbot-primary,
    accent: $chatbot-accent,
    warn: $chatbot-warn
  ),
  typography: $chatbot-typography,
));

@include mat.all-legacy-component-themes($chatbot-theme);
