@import 'variables';

body.mat-typography {
  h1, h2, h3, h4, h5 {
    font-family: $title-font;
    font-weight: 700;
  }

  h5 {
    color: $primary-color-300;
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }

  h2 {
    margin-top: 20px;
    font-size: 22px;
  }

  h4 {
    font-size: 16px;
  }

  .chatbot-title {
    background-color: $primary-color;
    padding: 5px 20px;
    border-radius: $border-radius;
    margin: 20px 0;

    & > * {
      color: $white;
      margin: 0;
    }
  }

  .chatbot-subtitle {
    padding: 5px 5vw;
    border-radius: $border-radius;
    background-color: $primary-color-50;
    margin: 20px 0 10px -5vw;
    width: 100vw;
    box-sizing: border-box;

    & > * {
      margin: 0;
    }
  }

  a {
    color: $primary-color;
  }
}
