NODE_ENV='{{ node_env }}'

DATABASE_HOST='{{ db_host }}'
DATABASE_PORT='{{ db_port }}'
DATABASE_USER='{{ db_user }}'
DATABASE_PASSWORD='{{ DB_PASSWORD }}'
DATABASE_NAME='{{ db_name }}'

MAIL_USER='{{ mail_user }}'
MAIL_FROM='{{ mail_from }}'
MAIL_PASSWORD='{{ mail_password }}'
MAIL_HOST='{{ mail_host }}'
MAIL_PORT='{{ mail_port }}'

JWT_SECRET='{{ jwt_secret }}'

INTRADEF='{{ intradef }}'

HOST_URL='{{ BOT_URL }}'
