[Unit]
Description=Rasa Bot Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory={{ appsDir }}/{{ botDir }}
ExecStart={{ app_venv_folder }}/bin/rasa run -m models --log-file out.log --cors "*" --debug
User={{ chatbot_user }}
Group={{ chatbot_user }}

[Install]
WantedBy=multi-user.target

