[Unit]
Description=Rasa Actions Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory={{ appsDir }}/{{ botDir }}
ExecStart={{ app_venv_folder }}/bin/rasa run actions
User={{ chatbot_user }}
Group={{ chatbot_user }}

[Install]
WantedBy=multi-user.target

